@page "/"
@using System.Text.Json
@using Weather.Web.Models
@using Weather.Web.Services
@using Weather.Web.Models.API
@using Weather.Web.Components
@using Weather.Web.Utilities
@inject HttpClient Http
@inject WeatherForecastService WeatherForecastService
@inject IJSRuntime JSRuntime

<PageTitle>Weather Route Planner</PageTitle>

<div class="container mt-3">
     <h1 class="mb-3">Dynamic Weather Forecasting</h1>

    <div class="row">
        <div class="col-md-6">
            <AddressInput Placeholder="From Address"
                          Value="@fromAddress"
                          ValueChanged="@(value => fromAddress = value)" />
            <AddressInput Placeholder="To Address"
                          Value="@toAddress"
                          ValueChanged="@(value => toAddress = value)" />
            @if (isLoading)
            {
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="GetRouteAndWeather">Get Weather</button>
            }
        </div>
    </div>


    
    @if (route != null)
    {
        <div class="row mt-3">
            <div class="col-12">
                <div class="btn-group" role="group" aria-label="View Selector">
                    <button class="btn btn-secondary @(currentView == "table" ? "active" : "")" @onclick="@(() => currentView = "table")">Forecast Table</button>
                    <button class="btn btn-secondary @(currentView == "grid" ? "active" : "")" @onclick="@(() => currentView = "grid")">Weather Grid</button>
                    <button class="btn btn-secondary @(currentView == "map" ? "active" : "")" @onclick="@(() => ShowMap())">Map</button>
                </div>
            </div>
        </div>

        @if (currentView != "grid")
        {
            <div class="col-md-6">
                <label for="timeOffsetDropdown">Start Time Offset:</label>
                <select id="timeOffsetDropdown" class="form-select" @onchange="UpdateTimeOffset">
                    <option value="0">Now</option>
                    <option value="30">+30 minutes</option>
                    <option value="60">+60 minutes</option>
                    <option value="90">+90 minutes</option>
                    <option value="120">+2 Hours</option>
                    <option value="180">+3 Hours</option>
                    <option value="240">+4 Hours</option>
                </select>
            </div>
        }
        else
        {
            <div class="col-md-6">
                <label for="weatherType">Select Weather Data:</label>
                <select class="form-select" id="weatherType" @onchange="UpdateWeatherDisplay">
                    <option value="WeatherIcon">Weather Icon</option>
                    <option value="Temperature">Temperature</option>
                    <option value="Precipitation">Precipitation</option>
                    <option value="Wind">Wind</option>
                </select>
            </div>
        }

        <div class="row mt-3">
            <div class="col-12">
                @if (currentView == "table")
                {
                    <ForecastTable Forecasts="@forecasts" />
                }
                else if (currentView == "grid")
                {
                    <WeatherGrid Route="@route" TotalStartingTimes="@totalStartingTimes" IntervalMinutes="30" StartOffsetMinutes="@startOffsetInterval" WeatherType="@selectedWeatherType" />
                }
                else if (currentView == "map")
                {
                    <div id="map" style="height: 400px;">My </div>
                }
            </div>
        </div>
    }
    else
    {
        <p>Enter addresses and click "Get Weather" to see the forecast.</p>
    }
</div>



@code {

    private string fromAddress;
    private string toAddress;
    private Route route;
    private List<WeatherForecast> forecasts;
    private string currentView = "table";

    private bool isLoading;
    private bool mapLoaded;


    private List<List<WeatherForecast>> gridData = new List<List<WeatherForecast>>();
    private int totalDurationMinutes = 120;
    private int intervalMinutes = 15;
    private int totalStartingTimes = 10;
    private int startOffsetInterval = 30;
    private int timeOffset = 0;

    private string selectedWeatherType = "WeatherIcon";

    private void UpdateWeatherDisplay(ChangeEventArgs e)
    {
        selectedWeatherType = e.Value.ToString();
        StateHasChanged();
    }

    private void ShowMap()
    {
        currentView = "map";
    }

    private void UpdateMap()
    {
        if (route != null)
        {
            Console.WriteLine("Actually updating map");
            DateTime startTime = route.Legs.First().Time;
            var routeJson = JsonSerializer.Serialize(new
            {
                start = route.Start,
                end = route.End,
                legs = route.Legs.Select(leg => new
                {
                    start = leg.Start,
                    time = (leg.Time.AddMinutes(timeOffset)).ToString("h:mm tt"),
                    weather = GetForecastData(startTime, leg)
                })
            });
            JSRuntime.InvokeVoidAsync("initializeMap", routeJson);
        }
    }

    private dynamic GetForecastData(DateTime startTime, Leg leg)
    {
        int index = GetForecastIndex(startTime, leg.Time, timeOffset, intervalMinutes);
        var forecast = leg.Forecasts.ElementAtOrDefault(index);
        return new
        {
            icon = WeatherUtilities.GetWeatherIcon(forecast?.WeatherCode ?? 0, forecast?.IsDay ?? false),
            summary = "Summary here",
            temperature = forecast?.Temperature ?? 0,
            windSpeed = forecast?.WindSpeed ?? 0,
        };
    }


    private async Task GetRouteAndWeather()
    {
        isLoading = true;
        try
        {
            route = await WeatherForecastService.GetWeatherForecastAsync(fromAddress, toAddress);
            forecasts = WeatherForecastService.GetWeatherForecastByTimeAndInterval(route, 0, 15);
        } 
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
        isLoading = false;
    }

    private async Task UpdateTimeOffset(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int newOffset))
        {
            timeOffset = newOffset;
            if (route != null)
            {
                forecasts = WeatherForecastService.GetWeatherForecastByTimeAndInterval(route, timeOffset, 15);
                if (currentView == "map")
                {
                    currentView = "none";
                    await Task.Delay(1);
                    StateHasChanged();
                    UpdateMap();
                    currentView = "map";
                } else
                {
                    StateHasChanged();
                    UpdateMap();
                }
            }
        }
    }

    private int GetForecastIndex(DateTime startTime, DateTime legTime, int timeOffset, int intervalMinutes)
    {
        legTime = legTime.AddMinutes(timeOffset);
        return (int)Math.Floor((legTime - startTime).TotalMinutes / intervalMinutes);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        UpdateMap();
    }
}